
@media screen and (max-width: 768px) {
    .app-sub-sidebar {
        display: none;
    }
}

.app-sub-sidebar {
    width: 160px;
    position: fixed;
    top: 100px;
    right: 50px;
}

.app-sub-sidebar::before {
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    display: block;
    margin-left: 15px;
    content: '本文目录';
    font-weight: bold;
}
